{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}

//{
//  "plugins": [
//    "@babel/plugin-syntax-typescript",
//    [
//      "module-resolver",
//      {
//        "extensions": [".js", ".jsx", ".ts", ".tsx"],
//        "root": ["./src"],
//        "alias": {
//          "root": "src",
//          "src": "src"
//        }
//      }
//    ]
//  ],
//  "presets": [
//    [
//      "@babel/preset-env", {
//      "targets": {
//        "node": "current"
//      }
//    }
//    ],
//    "@babel/preset-react",
//    "@babel/preset-typescript"
//  ]
//}